@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

/** CSS Valores por defecto */
* {
    margin: 0;
    padding: 0;
}

/** Fuentes para las letras */
h1, h2, h3, p, 
.fuente {
    font-family: 'Didact Gothic', sans-serif;
}

/** Colores que se usaran en la pagina */
.colorPrincipal {
    background-color: #F4B8C2;
}
.colorSecundario {
    background-color: #EF94A4;
}

/** Clase que permite transformar un objeto en un pointer */
.cursor {
    cursor: pointer;
}

/** Seccion NavBar */
/* cambia el color de fondo del enlace al hacer clic */
.navBackground:active {
    background-color: #EF94A4 !important; 
}
/* modificaciones en la barra de busqueda */
.form-control {
    display: inline-block !important;
    box-shadow:none !important;
    border: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0px !important;
}
#barraBuscar .buscador-input {
    position: relative;
    width: 100%;
    display: inline-block;
}
#barraBuscar .lupaBuscar {
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}
#barraBuscar .tablaBusqueda {
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.87);
    width: 100% !important;
}
.resultadosBusqueda {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.resultadosBusqueda:hover {
    color: #000;
}

/** Seccion carousel Inicio */
.imgCarousel {
    object-fit: cover;
    object-position: center;
}

/** Seccion Footer */
/* clase que modifica enlaces de contacto y ayuda */
.redesSociales a {
    color: black;
    text-decoration: none;
}
.redesSociales a:hover {
    color: black;
}
.iconosRedesSociales {
    width: 30px;
    padding-right: 3px;
}
.link {
    color: black;
    text-decoration: none;
}
.link:hover {
    color: black;
}

/** Seccion ItemDetail */
/* estilos de los disntitos cuadrados que representan un color */
.cuadradoUno, .cuadradoDos, .cuadradoTres, .cuadradoCuatro, .cuadradoCinco {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid black;
}
.cuadradoDos {
    background-color: black;
}
.cuadradoTres {

    background-color: white;
}
.cuadradoCuatro {
    background-color: green;
}
.cuadradoCinco {
    background-color: blue;
}
.cuadradoUno {
    background-color: red;
}
/* se descartan las flechas de desplazamiento y se colocan en una mejor posicion los iconos de desplazamiento debajo de la imagen*/
#carouselDesplazamiento .carousel-indicators {
    top: 510px !important;
}
#carouselDesplazamiento .carousel-control-next-icon, 
#carouselDesplazamiento .carousel-control-prev-icon {
    display: none !important;
}
#carouselDesplazamientoInicio .carousel-control-next-icon,
#carouselDesplazamientoInicio .carousel-control-prev-icon {
    display: none !important;
}
#carouselDesplazamientoInicio .carousel-indicators {
    display: none !important;
}
/** Seccion Preguntas Frecuentes */
/* estilos en los iconos que representan a los medios de pago */
.posicionMediosPago {
    display: inline-block !important;
}
.posicionMediosPago img {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
}
.list-group-item {
    border: none !important;
}

#bntDropdown {
    color: black !important;
    background-color: #EF94A4 !important;
    border-color: #EF94A4 !important;
}
.btnItem:hover {
    color: black !important;
    background-color: transparent !important;
}

@media only screen and (max-width: 991px) {
    #barraBuscar .lupaBuscar {
        position: absolute;
        top: 92% !important;
    }
}