@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, p {
    font-family: 'Didact Gothic', sans-serif;
}
.font {
    font-family: 'Anton', sans-serif;
}

.banner {
    width: 100%;
}

.icons {
    width: 30px;
    padding-right: 3px;
}

.redesSociales a {
    color: black;
    text-decoration: none;
}
.redesSociales a:hover {
    color: black;
}

.colorPrincipal {
    background-color: #F4B8C2;
}
.colorSecundario {
    background-color: #EF94A4;
}
.cursor {
    cursor: pointer;
}

.elemento {
    outline-width: 2px;
    outline-style: solid;
    outline-color: black;
}
.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: black;
}

.navBackground:active {
    background-color: #EF94A4 !important; /* cambia el color de fondo del enlace al hacer clic */
}
